<form method="post" action="{{ path('app_training_plan_delete', {'id': training_plan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training_plan.id) }}">
    <button class="btn">Delete</button>
</form>
